<nav class="navbar-default navbar-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav" id="main-menu">
			<li>
				<a href="#dashboard">
					<i class="fa fa-dashboard"></i>&nbsp;Dashboard
				</a>
			</li>
			<li>
				<a href="#doors">
					<i class="mega-octicon octicon-sign-in"></i>&nbsp;Controllo porte
				</a>
			</li>
			<li>
				<a href="#lights">
					<i class="fa fa-lightbulb-o fa-2x"></i>&nbsp;Controllo luci
				</a>
			</li>
			<li>
				<a class="active-menu" href="#experimentals">
					<i class="ionicons ion-erlenmeyer-flask"></i>&nbsp;Esperimenti
				</a>
			</li>
		</ul>
	</div>
</nav>
<!-- /. NAV SIDE  -->