<div class="row">
	<div class="col-md-12">
		<h1 class="page-header">
			<i class="fa fa-dashboard"></i> Dashboard<br/>
			<small>Dispositivi domestici collegati</small>
		</h1>
		
		<ol class="breadcrumb hidden">
			<li><a href="#">Dashboard</a></li>
			<li class="active">Homepage</li>
		</ol>
	</div>
</div>
	
<div class="row">
	
	<div class="col-xs-12">
		<div class="panel panel-info board-info-panel">
			<div class="panel-heading">
				<span class="board-room-name"></span>
				<span class="pull-right">				
					<i class="octicon octicon-circuit-board"></i>
					<span class="board-name-value"></span>
				</span>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-8">
						<ul class="list-group board-info-list">
							<li class="list-group-item board-info-connection list-group-item-success">
								<label>
									<i class="ionicons ion-usb"></i>
									<strong>Connessione</strong>
								</label>
								<span class="board-connection-value"></span>
							</li>
							<li class="list-group-item">
								<label><strong>Tipo camera</strong></label>
								<span class="board-room-type-value"></span>
							</li>
							<li class="list-group-item">
								<label><strong>Prodotto</strong></label>
								<span class="board-productid-value"></span>
							</li>
							<li class="list-group-item">
								<label><strong>Produttore</strong></label>
								<span class="board-manufacturer-value"></span>
							</li>
							<li class="list-group-item">
								<label><strong>Numero di serie</strong></label>
								<span class="board-serialnumber-value"></span>
							</li>
						</ul>
					</div>
					<div class="col-xs-4 text-center">
						<div class="board-temperature-container">
							<label>Monitoraggio temperatura camera</label>
							<h2 class="board-temperature-heading">
								<i class="ionicons ion-thermometer"></i>
								<span class="board-temperature-value">-- °C</span>
							</h2>
						</div>
						<input id="temperatureMonitoringToggle"
							type="checkbox" checked
							data-toggle="toggle"
							data-on="ON" data-off="OFF" data-onstyle="success" data-style="flat-onoff">
					</div>					
				</div>
			</div>
		</div>
	</div>
	
	<!-- 
		<div class="col-md-3 col-sm-12 col-xs-12">
			<div
				class="panel panel-primary text-center no-boder bg-color-blue blue">
				<div class="panel-left pull-left blue">
					<i class="fa fa-shopping-cart fa-5x"></i>
				</div>
	
				<div class="panel-right pull-right">
					<h3>52,160</h3>
					<strong> Sales</strong>
	
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-12 col-xs-12">
			<div class="panel panel-primary text-center no-boder bg-color-red red">
				<div class="panel-left pull-left red">
					<i class="fa fa fa-comments fa-5x"></i>
	
				</div>
				<div class="panel-right pull-right">
					<h3>15,823</h3>
					<strong> Comments </strong>
	
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-12 col-xs-12">
			<div
				class="panel panel-primary text-center no-boder bg-color-brown brown">
				<div class="panel-left pull-left brown">
					<i class="fa fa-users fa-5x"></i>
	
				</div>
				<div class="panel-right pull-right">
					<h3>36,752</h3>
					<strong>No. of Visits</strong>
	
				</div>
			</div>
		</div>
		 -->
	
</div>