<div class="row">
	<div class="col-md-12">
		<h1 class="page-header">
			<i class="mega-octicon octicon-sign-in"></i> Controllo porte<br/>
			<small>Controlla lo stato di apertura delle porte della tua abitazione</small>
		</h1>
		
		<ol class="breadcrumb hidden">
			<li><a href="#">Dashboard</a></li>
			<li class="active">Homepage</li>
		</ol>
	</div>
</div>
	
<div class="row">
	
	<div class="col-xs-12">
		<div class="panel panel-info board-info-panel">
			<div class="panel-heading">
				<span class="board-room-name"></span>
				<span class="pull-right">				
					<i class="octicon octicon-circuit-board"></i>
					<span class="board-name-value"></span>
				</span>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-4">
						<div
							class="panel panel-door text-center green">
							<div class="panel-left pull-left">
								<i class="mega-octicon octicon-sign-in"></i>
							</div>				
							<div class="panel-right pull-right panel-door-info">
								<label>Monitoraggio porta ingresso</label>
								<div class="board-door-wrapper">
									<div class="board-door-container">
										<span class="board-door-value">
											<span class="door-status checking">Controllo</span>
										</span>
									</div>
								</div>
								<div class="board-autolights-toggle-container">
									<i class="fa fa-lightbulb-o fa-2x"></i>&nbsp;<span>Luci automatiche</span>
									<input id="doorAutoLightToggle"
										type="checkbox"
										data-toggle="toggle"
										data-on="ON" data-off="OFF" data-onstyle="success" data-size="mini" data-style="flat-onoff">
								</div>
							</div>
						</div>						
					</div>
					<div class="col-xs-4">
						<div
							class="panel panel-primary panel-door text-center empty-door">		
							<div class="panel-right panel-door-info">
								<label>Monitoraggio porta x</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 
		<div class="col-md-3 col-sm-12 col-xs-12">
			<div
				class="panel panel-primary text-center no-boder bg-color-blue blue">
				<div class="panel-left pull-left blue">
					<i class="fa fa-shopping-cart fa-5x"></i>
				</div>
	
				<div class="panel-right pull-right">
					<h3>52,160</h3>
					<strong> Sales</strong>
	
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-12 col-xs-12">
			<div class="panel panel-primary text-center no-boder bg-color-red red">
				<div class="panel-left pull-left red">
					<i class="fa fa fa-comments fa-5x"></i>
	
				</div>
				<div class="panel-right pull-right">
					<h3>15,823</h3>
					<strong> Comments </strong>
	
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-12 col-xs-12">
			<div
				class="panel panel-primary text-center no-boder bg-color-brown brown">
				<div class="panel-left pull-left brown">
					<i class="fa fa-users fa-5x"></i>
	
				</div>
				<div class="panel-right pull-right">
					<h3>36,752</h3>
					<strong>No. of Visits</strong>
	
				</div>
			</div>
		</div>
		 -->
	
</div>