<div class="row">
	<div class="col-md-12">
		<h1 class="page-header">
			<i class="ionicons ion-erlenmeyer-flask"></i> Esperimenti<br/>
			<small>Pagina esperimenti</small>
		</h1>
		
		<ol class="breadcrumb hidden">
			<li><a href="#">Dashboard</a></li>
			<li class="active">Homepage</li>
		</ol>
	</div>
</div>
	
<div class="row">
	
	<div class="col-xs-12">
		<div class="panel panel-info board-info-panel">
			<div class="panel-heading">
				<span class="board-room-name"></span>
				<span class="pull-right">				
					<i class="octicon octicon-circuit-board"></i>
					<span class="board-name-value"></span>
				</span>
			</div>
			<div class="panel-body">
				<div class="row">					
							
					<div class="col-xs-3">
					<h4>Comandi</h4>				
						<div
							class="panel panel-primary panel-experimental text-center red">
							<div class="panel-left pull-left">
								<i class="fa fa-arrows-alt fa-2x"></i>
							</div>
							<div class="panel-right pull-right panel-light-control">
								<label>Accelerometro</label>
								<div class="board-experimental-container">
									<a id="readAcceleroBtn" class="btn btn-default btn-success">Leggi</a>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-xs-3">
						<h4>&nbsp;</h4>			
						<div
							class="panel panel-primary panel-experimental text-center ambra">
							<div class="panel-left pull-left">
								<i class="fa fa-exclamation-triangle fa-2x"></i>
							</div>
							<div class="panel-right pull-right panel-light-control">
								<label>Riproduci allarme</label>
								<div class="board-experimental-container">
									<a id="startAlarmBtn" class="btn btn-default btn-success">Allarme</a>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-xs-6">
						<h4 class="pull-left">Output</h4>
						<a class="pull-right trash" href="javascript:void(0);" id="clearExpOutput"><i class="ionicons ion-ios-trash-outline"></i></a>
						<textarea id="experimentalOutput" rows="20"></textarea>
					</div>					
					
				</div>
			</div>
		</div>
	</div>
		
</div>