<div class="row">
	<div class="col-md-12">
		<h1 class="page-header">
			<i class="fa fa-lightbulb-o"></i> Controllo luci<br/>
			<small>Controlla le luci della tua abitazione</small>
		</h1>
		
		<ol class="breadcrumb hidden">
			<li><a href="#">Dashboard</a></li>
			<li class="active">Homepage</li>
		</ol>
	</div>
</div>
	
<div class="row">
	
	<div class="col-xs-12">
		<div class="panel panel-info board-info-panel">
			<div class="panel-heading">
				<span class="board-room-name"></span>
				<span class="pull-right">				
					<i class="octicon octicon-circuit-board"></i>
					<span class="board-name-value"></span>
				</span>
			</div>
			<div class="panel-body">
				<div class="row">
					<!-- Ambra light -->
					<div class="col-xs-3">
						<div
							class="panel panel-primary panel-light text-center ambra">
							<div class="panel-left pull-left">
								<i class="fa fa-lightbulb-o fa-2x"></i>
							</div>				
							<div class="panel-right pull-right panel-light-control">
								<label>Controllo luce ambra</label>
								<div class="board-light-toggle-container">
									<input id="lightAmbraToggle"
										class="board-light-toggle"
										data-led-name="ambra"
										type="checkbox"
										data-toggle="toggle"
										data-on="ON" data-off="OFF" data-onstyle="success" data-size="mini" data-style="flat-onoff">
								</div>
							</div>
						</div>
					</div>
					
					<!-- Red light -->
					<div class="col-xs-3">
						<div
							class="panel panel-primary panel-light text-center red">
							<div class="panel-left pull-left">
								<i class="fa fa-lightbulb-o fa-2x"></i>
							</div>				
							<div class="panel-right pull-right panel-light-control">
								<label>Controllo luce rossa</label>
								<div class="board-light-toggle-container">
									<input id="lightRedToggle"
										class="board-light-toggle"
										data-led-name="red"
										type="checkbox"
										data-toggle="toggle"
										data-on="ON" data-off="OFF" data-onstyle="success" data-size="mini" data-style="flat-onoff">
								</div>
							</div>
						</div>
					</div>
					
					<!-- Blue light -->
					<div class="col-xs-3">
						<div
							class="panel panel-primary panel-light text-center blue">
							<div class="panel-left pull-left">
								<i class="fa fa-lightbulb-o fa-2x"></i>
							</div>				
							<div class="panel-right pull-right panel-light-control">
								<label>Controllo luce blue</label>
								<div class="board-light-toggle-container">
									<input id="lightBlueToggle"
										class="board-light-toggle"
										data-led-name="blue"
										type="checkbox"
										data-toggle="toggle"
										data-on="ON" data-off="OFF" data-onstyle="success" data-size="mini" data-style="flat-onoff">
								</div>
							</div>
						</div>
					</div>
					
					<!-- Green light -->
					<div class="col-xs-3">
						<div
							class="panel panel-primary panel-light text-center green">
							<div class="panel-left pull-left">
								<i class="fa fa-lightbulb-o fa-2x"></i>
							</div>				
							<div class="panel-right pull-right panel-light-control">
								<label>Controllo luce verde</label>
								<div class="board-light-toggle-container">
									<input id="lightGreenToggle"
										class="board-light-toggle"
										data-led-name="green"
										type="checkbox"
										data-toggle="toggle"
										data-on="ON" data-off="OFF" data-onstyle="success" data-size="mini" data-style="flat-onoff">
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
	<!-- 
		<div class="col-md-3 col-sm-12 col-xs-12">
			<div
				class="panel panel-primary text-center no-boder bg-color-blue blue">
				<div class="panel-left pull-left blue">
					<i class="fa fa-shopping-cart fa-5x"></i>
				</div>
	
				<div class="panel-right pull-right">
					<h3>52,160</h3>
					<strong> Sales</strong>
	
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-12 col-xs-12">
			<div class="panel panel-primary text-center no-boder bg-color-red red">
				<div class="panel-left pull-left red">
					<i class="fa fa fa-comments fa-5x"></i>
	
				</div>
				<div class="panel-right pull-right">
					<h3>15,823</h3>
					<strong> Comments </strong>
	
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-12 col-xs-12">
			<div
				class="panel panel-primary text-center no-boder bg-color-brown brown">
				<div class="panel-left pull-left brown">
					<i class="fa fa-users fa-5x"></i>
	
				</div>
				<div class="panel-right pull-right">
					<h3>36,752</h3>
					<strong>No. of Visits</strong>
	
				</div>
			</div>
		</div>
		 -->
	
</div>