{% extends "shared/template.html" %}

{% block head %}
	{% parent %}
	<link rel="stylesheet" href="/assets/css/bootstrap-slider.css">
{% endblock %}

{% block content %}
	<div id="pagesContainer" class="pages-container">
		<div class="page" data-page="#dashboard">
			{% include "pages/dashboard.html" %}
		</div>
		<div class="page" data-page="#doors">
			{% include "pages/doors.html" %}
		</div>
		<div class="page" data-page="#lights">
			{% include "pages/lights.html" %}
		</div>
		<div class="page active-page" data-page="#experimentals">
			{% include "pages/experimentals.html" %}
		</div>
	</div>
{% endblock %}

{% block footer %}
	<div class="modal fade" id="noBoardConnected" tabindex="-1"
		role="dialog" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-heading">
					<span class="brand"> <b>IO</b>THINGS
					</span>
				</div>
				<div class="modal-body text-center">
					<i class="octicon octicon-home"></i>
					<h3 class="heading">Nessun dispositivo domestico connesso</h3>
					<div class="loader center"></div>
					<label class="waiting mute">In attesa di un dispositivo...</label>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{% parent %}
	<script src="/assets/js/bootstrap-slider.js"></script>
	<script src="/app/templates.js"></script>
	<script src="/app/user-application.js"></script>
{% endblock %}